/*
.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 1 / 3 / 3; }
.div2 { grid-area: 2 / 3 / 4 / 4; }
.div3 { grid-area: 3 / 2 / 4 / 3; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 1 / 4 / 2 / 5; }
*/

@font-face {
    font-family: Kilo;
    src: url("../assets/Kilo.otf") format("opentype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body::-webkit-scrollbar{
    display: none;
  }
/* img, .cloth {
    visibility: hidden;
    height: 20% !important;
    width: auto !important;
} */
body {
    background: #fff url(../assets/bg.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
}
#body-one{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.top-nav.default {
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
}
.top-nav.default {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    place-content: center;
}
.top-nav.mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    place-content: center;
    height: 50px;
    width: 100vw;
}
.top-nav.mobile > img {
    width: 50px;
    height: auto;
}
.top-nav.link {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.top-nav#title {
    font-family: Kilo;
    font-size: 80px;
    place-self: center center;
}
a.top-nav.menu-button-mobile ,
a.top-nav.bag-button-mobile {
    width: 50px;
    height: 50px;
}
.top-nav.menu-button-mobile > button,
.top-nav.bag-button-mobile > button {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-nav.menu-button-mobile > button > svg,
.top-nav.bag-button-mobile > button > svg {
    width: 60%;
    height: auto;
}
.top-nav.github-button-default > button,
.top-nav.bag-button-default > button {
    width: 120px;
    height: 50px;
    border-radius: 50px;
    border: 0px;
    background-color: rgba(217, 217, 217, 0.01);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-nav.github-button-default  > button > svg,
.top-nav.bag-button-default  > button > svg {
    width: 30%;
    height: auto;
}
#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-grow: 1;
}
.main-content.subdivider {
    display: flex;
    width: 100%;
    overflow: hidden;
}
.subdivider.left {
    height: 100% !important;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
}
.subdivider.right {
    height: 100% !important;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
}
.main-content.button {
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    bottom: 0;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content.button > button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 0px;
    background-color: rgba(217, 217, 217, 0.01);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
* {
    border: 1px solid #f00;
}
.main-content.button > button > svg {
    width: 25%;
    height: auto;
}
.main-content.subdivider > .subdivider.left,
.main-content.subdivider > .subdivider.right {
    height: max-content;
    width: 50%;
    overflow-y: visible;
}
.main-content.subdivider > .subdivider.left > .header {
    grid-area: 2 / 1 / 3 / 3;
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    place-self: start start;
    grid-column-start: 2;
}
.main-content.subdivider > .subdivider.left > .header > button {
    width: 250px;
    height: 80px;
    margin-top: 10px;   
    border-radius: 50px;
    border: 0px;
    background-color: rgba(217, 217, 217, 0.01);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 40px;
}
.main-content.subdivider > .subdivider.left > img.bubble {
    width: 400px;
    animation: 6s breathOne infinite ease-in-out;
    grid-area: 3 / 2 / 4 / 3;
    grid-column-start: 3;
    z-index: -1;
}
.main-content.subdivider > .subdivider.left > img.star,
.main-content.subdivider > .subdivider.right > img.star {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    mix-blend-mode: color-burn;
    opacity: 0.8;
    width: 125px;
}
.main-content.subdivider > .subdivider.left > img.star#first{
    position: static;
    -webkit-filter: blur(10px);
    z-index: 0;
    filter: blur(10px);
    animation: 6s breathTwo infinite ease-in-out;
    grid-area: 1 / 3 / 4 / 4;
    grid-column-start: 4;
    width: 35vh;
    height: auto;
    margin
}
.main-content.subdivider > .subdivider.left > img.star#second{
    animation: 6s breathTwo infinite ease-in-out;
    grid-area: 4 / 1 / 5 / 2;
    grid-column-start: 2    ;
}
.main-content.subdivider > .subdivider.left > img.star#third {
    animation: 6s breathThree infinite ease-in-out;
    grid-area: 1 / 4 / 2 / 5;
    grid-column-start: 5;
}
.main-content.subdivider > .subdivider.right > img.cloth {
    position: absolute !important;
    -webkit-filter: drop-shadow(0px 0px 10px #222);
    filter: drop-shadow(0px 0px 10px #222);
    animation: 6s breathOne infinite ease-in-out;
    grid-area: 2 / 2 / 3 / 3;
    width: 50vh;
    height: auto;
}
.main-content.subdivider > .subdivider.right > img.star#fourth {
    animation: 6s breathThree infinite ease-in-out;
    z-index: -1;
    grid-area: 3 / 1 / 4 / 2;
}
.main-content.subdivider > .subdivider.right > img.star#fifth {
    animation: 6s breathTwo infinite ease-in-out;
    z-index: -1;
    grid-area: 1 / 3 / 2 / 4;
}
#footer {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
@keyframes breathOne {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes breathTwo {
    0% {
        transform: translateY(10px) rotate(-5deg);
    }
    50% {
        transform: translateY(0px) rotate(-5deg);
    }
    100% {
        transform: translateY(10px) rotate(-5deg);
    }
}
@keyframes breathThree {
    0% {
        transform: translateY(10px) rotate(8deg);
    }
    50% {
        transform: translateY(0px) rotate(8deg);
    }
    100% {
        transform: translateY(10px) rotate(8deg);
    }
}
@media (min-width: 1130px) {
    .top-nav.default {
        visibility: visible !important;
        width: 100vw !important;
        height: auto !important
    }
    .top-nav.mobile {
        visibility: hidden !important;
        width: 0 !important;
        height: 0 !important;
    }
}